* {
margin: 0;
padding: 0;
box-sizing: border-box;
} 

/* ###  grid   ### */

.container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* .row::after{
    content: '';
    display: block;
    clear: both;
} */

.clearfix::after {
    clear: both;
    content: "";
    display: table;
  }
  
.debug {
    background-color: rgb(244, 121, 121);
    min-width: 30px;
    min-height: 30px;
    
    
}
.debug *{
    background-color: rgb(244, 121, 121);
    min-width: 30px;
    min-height: 30px;
    
}

.cont{
    width: 70%;
    margin: 0 auto;
   
    
      
}

.card{
    margin: 10px;
    float: left;
    width: 350px;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
.img-f{
    width: 150px;
    float: left;
    
}

/* .row{
    display: flex;
    margin: 0 -1rem;
}
[class*='col'] {
    padding: 1rem;
}
.col-1-3{
    width: calc(100% / 3);
    float: left;
}
.col-1-2{
    wi
} */